config BOARD_RP2354_SPLIT_RIGHT
    select SOC_RP2350B_M33 if BOARD_RP2354_SPLIT_RIGHT_RP2350B_M33 || BOARD_RP2354_SPLIT_RIGHT_RP2350B_M33_ZMK
    select ZMK_BOARD_COMPAT
    imply RETAINED_MEM
    imply RETENTION
    imply RETENTION_BOOT_MODE
