if BOARD_RP2354_SPLIT_LEFT || BOARD_RP2354_SPLIT_LEFT_RP2350B_M33 || BOARD_RP2354_SPLIT_LEFT_RP2350B_M33_ZMK

config ZMK_KEYBOARD_NAME
    default "F22 Split"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if BOARD_RP2354_SPLIT_RIGHT || BOARD_RP2354_SPLIT_RIGHT_RP2350B_M33 || BOARD_RP2354_SPLIT_RIGHT_RP2350B_M33_ZMK

config ZMK_KEYBOARD_NAME
    default "F22 Split RT"

endif

if BOARD_RP2354_SPLIT_LEFT || BOARD_RP2354_SPLIT_LEFT_RP2350B_M33 || BOARD_RP2354_SPLIT_LEFT_RP2350B_M33_ZMK || BOARD_RP2354_SPLIT_RIGHT || BOARD_RP2354_SPLIT_RIGHT_RP2350B_M33 || BOARD_RP2354_SPLIT_RIGHT_RP2350B_M33_ZMK

config BOARD
    default "rp2354_split"

config ZMK_SPLIT
    default y

config ZMK_SPLIT_WIRED
    default y

endif
